@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Poppins', sans-serif;
  color-scheme: light;
}

html, body, #root {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}
